<div class='image-background mb-5'>
    <div class='container h-100'>
      <div class='row h-100 align-items-center'>
        <div class='col-12 text-center'>
          <h1 class='display-2 fw-image-text'>Título de prueba</h1>
          <p class='lead-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut laudantium id saepe esse magni maiores nihil officia optio, excepturi cum repudiandae libero nobis. Sunt magni nesciunt quaerat earum corrupti?</p>
        </div>
      </div>
    </div>
  </div>
