
<!--Section: Author Box-->
<section class="my-5 col-12 w-100">

    <!-- Card header -->
    <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
      <p class="mr-4 mb-0">Acerca del autor:</p>
      <ul class="list-unstyled list-inline mb-0">
        <li class="list-inline-item"><a href="javascript:void(0);" class="text-default mr-3"><i class="fas fa-envelope mr-1"></i>Enviar
            mensaje</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);" class="text-default mr-3"><i class="fas fa-user mr-1"></i>Ver
            perfil</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);" class="text-default mr-3"><i class="fas fa-rss mr-1"></i>Seguir</a></li>
      </ul>
    </div>
  
    <div class="media mt-4 px-1">
      <img class="card-img-100 rounded-circle d-flex z-depth-1 mr-3 avatar-width" src="../../assets/images/users/jane.jpg"
        alt="User image">
      <div class="media-body">
        <h5 class="font-weight-bold mt-0">
          <a class="text-default" href="">Jane Whaonji</a>
        </h5>
        <ul class="list-unstyled list-inline mb-2 pt-1">
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fab fa-lg fa-facebook"> </i></a>
          </li>
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fab fa-lg fa-twitter"> </i></a>
          </li>
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fab fa-lg fa-google-plus"> </i></a>
          </li>
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fab fa-lg fa-linkedin"> </i></a>
          </li>
          <li class="list-inline-item">
            <a class="grey-text mr-1"><i class="fab fa-lg fa-instagram"> </i></a>
          </li>
        </ul>
        Viajar es una de las mayores experiencias que se pueden realizar. Es aprender, conocer otras culturas, escapar de la rutina y romper barreras, miedos y prejuicios. Viajar es abrir horizontes, descubrir cosas nuevas y, por supuesto, conocerse a sí mismo.
      </div>
    </div>
  
</section>
<!--Section: Author Box-->


