/* You can add global styles to this file, and also import other style files */

/* ------- css variables -------- */
:root {
    --main-bg-color: white;
    --text-color-02: black;
    --text-color-02: white;
    --font-size-01: 1rem;
    --font-size-02: 2rem;
    --font-size-03: 3rem;
}

.h4-padding{
    padding: 2rem;
}

.p-padding{
    padding: 1rem;
}

.hr-style{
    color: lightskyblue;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
