<div class="container-fluid">
    <app-carousel></app-carousel>

    <div class="col-12 d-flex align-items-center justify-content-center text-center mt-5 mb-5">
        <app-card></app-card>
    </div>

    <div class="col-12 d-flex align-items-center justify-content-center text-center mt-5 mb-5">
        <app-cards-more-packs *ngIf="show"></app-cards-more-packs>
    </div>

    <div class="col-12 d-flex align-items-center justify-content-center text-center mt-5 mb-5">
        <button class="btn btn-primary" (click)="show=!show">{{!show ? btnTravelText : btnTravelTextHide}}</button>
    </div>
    

    <h1 class="h1-center padding-title">Elige la fecha de salida y regreso de tu próximo viaje</h1>
    <div class="row">
      
        <div class="col-12 d-flex justify-content-center w-100 mt-5 mb-5">
            <ngbd-datepicker-range></ngbd-datepicker-range>
        </div>
    </div>
  
   
    <app-full-width-image></app-full-width-image>

    <div class="col-12 d-flex flex-column justify-content-center align-items-center w-100 mb-5 mt-5">
        <h4 class="h4-padding">Algunos consejos para viajeros</h4>
        <p class="text-center p-padding">Se puede viajar a través del cielo, como puede ser el caso de dirigibles, helicópteros, aviones, globos... a través del océano, ríos y mares, mediante embarcaciones, en profundidades submarinas mediante el submarino (aunque es un vehículo primordialmente de guerra), por el espacio mediante cohetes espaciales y transbordadores, y el más extendido, por tierra, principalmente por los tramos asfaltados por el hombre (carreteras), casi exclusivamente con el uso de algún vehículo (automóvil, autocar, bicicleta...), así como en trenes usando la red de ferrocarril.</p>
    </div>

    <hr class="hr-style">

    <h1 class="h4-padding col-12 d-flex flex-column justify-content-center align-items-center w-100 mb-5 mt-5">El Blog del viajero</h1>
    <div class="col-12 d-flex flex-row flex-wrap mb-5 mt-5">

        <app-blog></app-blog>

    </div>
 
    <hr class="hr-style">

    <div class="col-12 d-flex flex-column justify-content-center align-items-center w-100 mb-5 mt-5">
        <h4 class="h4-padding">Algunos consejos para viajeros</h4>
        <p class="text-center p-padding">Se puede viajar a través del cielo, como puede ser el caso de dirigibles, helicópteros, aviones, globos... a través del océano, ríos y mares, mediante embarcaciones, en profundidades submarinas mediante el submarino (aunque es un vehículo primordialmente de guerra), por el espacio mediante cohetes espaciales y transbordadores, y el más extendido, por tierra, principalmente por los tramos asfaltados por el hombre (carreteras), casi exclusivamente con el uso de algún vehículo (automóvil, autocar, bicicleta...), así como en trenes usando la red de ferrocarril.</p>
    </div>

    <div class="row">
        <div class="col-12 w-100">
            <app-footer></app-footer>
        </div>

    </div>


</div>
